/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
	
	font-family: Montserrat;
	src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	
	font-family: Ultra;
	src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}



h2,h3 {
	font-family: Montserrat, sans-serif;
	
}


header {
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-size: 1.75rem;
	rotate: -5deg;
	word-spacing: 1rem;
	
	
}

.highlight{
	color: ivory;
	background-color: red;
	border-style: solid;
	border-color: black;
	font-family: Ultra, serif;
	border-radius: 1rem;
	letter-spacing: 0.25rem;
}



ul{
	list-style-type: none;
	margin: 0rem;
	padding: 0rem;
	overflow: hidden;
	word-spacing: 5rem;
}

li{
	display: inline;
	width: 1rem;
	word-spacing: 4rem;
	font-size: 1.5rem;
	margin-left: 3rem;
	color:#021691;
	
}

.blog{
	text-decoration: line-through;
	
}

.solid{
	
}

a:link {text-decoration: none;}

.main-section{
	display:flex;
	flex: 1;
	width: 100%;
}

.main-section img{
	float: left;
}

.main-section p{

}

.photorow{
 width: 25%;
 padding: 1rem;
 margin: auto;
 float: left ;
 display: inline;
}


.subsection::after{
	content: "";
	clear: both;
	display: table;
	

}

figcaption{
	background-color: #F2EC98;
	line-height: 2rem;
	
}

.sidebar {
	width: 20%;
	text-align: right;
}

.sidebar figure{
	width: 100%;
	float: right;
	align-content: right;
	
	
}

.sidebar p{
	font-size: 0.75rem;
	float: right;

	
}

.sidebar h3{
	text-align: right;
	float: right;
}


.email{
	text-align: left;
	float: left;
	display: flex;

}

.attribution{
	text-align: right;
	float: right;

}


