/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
	
	font-family: Montserrat;
	src: url(../fonts/sans-serif/montserrat-regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	
	font-family: Ultra;
	src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}


h2{
	position: absolute;
	margin-left: 1rem;
}

h2,h3 {
	font-family: Montserrat, sans-serif;
	
}


header {
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-size: 1.75rem;
	rotate: -5deg;
	word-spacing: 1rem;
	text-shadow: 2rem black;
	
	
}

.highlight{
	color: ivory;
	background-color: #9A1818;
	border-style: solid;
	border-color: black;
	font-family: Ultra, serif;
	border-radius: 1rem;
	letter-spacing: 0.25rem;
}



ul{
	list-style-type: none;
	margin: 1.5rem;
	padding: 0rem;
	overflow: hidden;
	word-spacing: 5rem;
	text-align: left;
}

li{
	display: inline;
	width: 1rem;
	word-spacing: 4rem;
	font-size: 1.5rem;
	margin-left: 3rem;
	color:#021691;
	
}

.blog{
	text-decoration: line-through;
	rotate: -5deg;
	
}

.solid2{
	width: 21rem;
	height: 0.05rem;
	background-color: black;
	
}


a:link {text-decoration: none;}

.main-section{
	display: flex;
	flex-direction: row;
	width: 100%;
	
}

.article-image{
	display: block;
	float: left;
	padding: 0.5rem;
	margin-left: 0.5rem;
	margin-top: 3rem;
	margin-right: 0.5rem;
}

.para1{
	margin-top: 3.15rem;
	
}

.main-section p{
	font-size: 1rem;
	text-align: left;
	margin-right: 2rem;

}

time{
	font-style: italic;
}

.photorow {
 display: inline;
 column-gap: 0.5rem;
 width: 19%;
 float: left ;
 margin-left: 0rem;
 margin-right: 5.5rem;
}


.subsection::after{
	content: "";
	clear: both;
	display: table;
	

}

figcaption{
	background-color: #F2EC98;
	line-height: 2rem;
	
}


.sidebar {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: right;
	

}

.sidebar img{
	width: 100%;
	
	
	
}

.sidebar p{
	font-size: 0.75rem;
	float: right;
	text-align: left;

	
}

.sidebar h3{
	text-align: left;
	float: right;
}

button{
	font-size: 1.5rem;
	padding: 1.5rem;
	font-family: Ultra, serif;
	color: white;
	background-color: #2E628F;
	border-radius: 1rem;
	margin-top: 2rem;
}

.expand{
	font-size: 0.5rem;
}


.email{
	text-align: left;
	float: left;
	display: flex;
	

}

.attribution{
	text-align: right;
	float: right;

}


